
.baloon{
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40% ;
	background : #F56473;
	position : absolute ;
	left : 270px;
	top : 158pt;
	width : 3px;
	height : 3px;
}
.p0[pump='0']{
	animation: baloon0 1s normal;
	animation-fill-mode: forwards;
}
.p1[pump='1']{
	animation: baloon1 1s normal;
	animation-fill-mode: forwards;
}
.p2[pump='2']{
	animation: baloon2 1s normal;
	animation-fill-mode: forwards;
}
.p3[pump='3']{
	animation: baloon3 1s normal;
	animation-fill-mode: forwards;
}
.p4[pump='4']{
	animation: baloon4 1s normal;
	animation-fill-mode: forwards;
}
.p5[pump='5']{
	animation: baloon5 1s normal;
	animation-fill-mode: forwards;
}
.pFly[pump='fly']{
	animation: baloonFly 1s normal;
}
@keyframes baloon{
	0%{width:3px; height: 3px; top:158pt; transform: rotate(-95deg);}
	25%{width:140px; height: 200px; top:70pt; left: 595px;transform: rotate(-95deg);}
	50%{width:210px; height: 300px; top:-35pt; left: 565px;transform: rotate(-140deg);}
	75%{width:280px; height: 400px; top:-120pt; left: 520px;transform: rotate(-150deg);}
	100%{width:280px; height: 400px; top:-800pt; left: 570px;transform: rotate(-200deg);}
}
@keyframes baloon0{
	0%{width:3px; height: 3px; top:158pt; transform: rotate(-95deg);}
	100%{width:140px; height: 200px; top:70pt; left: 300px;transform: rotate(-95deg);}
}
@keyframes baloon1{
	0%{width:140px; height: 200px; top:70pt; left: 300px;transform: rotate(-95deg);}
	100%{width:210px; height: 300px; top:0pt; left: 300px;transform: rotate(-110deg);}
}
@keyframes baloon2{
	0%{width:210px; height: 300px; top:0pt; left: 300px;transform: rotate(-110deg);}
	100%{width:280px; height: 400px; top:-70pt; left: 300px;transform: rotate(-120deg);}
}
@keyframes baloon3{
	0%{width:280px; height: 400px; top:-70pt; left: 300px;transform: rotate(-120deg);}
	100%{width:350px; height: 500px; top:-140pt; left: 300px;transform: rotate(-130deg);}
}
@keyframes baloon4{
	0%{width:350px; height: 500px; top:-140pt; left: 300px;transform: rotate(-130deg);}
	100%{width:420px; height: 600px; top:-210pt; left: 270px;transform: rotate(-140deg);}
}
@keyframes baloon5{
	0%{width:420px; height: 600px; top:-210pt; left: 270px;transform: rotate(-140deg);}
	100%{width:490px; height: 700px; top:-280pt; left: 240px;transform: rotate(-150deg);}
}
@keyframes baloonFly{
	0%{transform: rotate(-150deg);}
	100%{top:-800pt; left: 570px;transform: rotate(-200deg);}
}
